<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>{{currentMovie.title}}</h1>
                <div class="card-movie">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{currentMovie.genre}}</p>
                        <p class="card-director">Directror: {{currentMovie.director}}</p>
                        
                    </div>
                    <div class="second-info">
                        
                        <p class="card-year">Year: {{currentMovie.year}}</p>
                        <p class="card-ranking">Rating: <span id="stars">&#x2605; &#x2605; &#x2605;
                                &#x2605;</span></p>
                    </div>

                </div>

                <p class="disc">Description: {{currentMovie.description}}</p>
                    <p class="card-category">Category: {{currentMovie.category}}</p>
            </div>
        </div>
        <div class="card_right">
            <img src="{{currentMovie.moviePoster}}"
                alt="{{currentMovie.title}}">
        </div>
    </div>

</section>